<div class="item-new-container">
  <form action="/item" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="name"/>
    <input type="text" name="price" placeholder="price"/>
    <input type="text" name="content" placeholder="content"/>
    <input type="text" name="required_num" placeholder="required_num"/>
    <input type="file" name="image"/>

    <input type="submit"/>
  </form>
</div>
